export(frmt)
export(frmtp)
export(load_cache)
export(params)
export(qacf)
export(qroc)
export(qsurvplot)
export(simpleCap)
S3method(params,coxph)
S3method(params,glm)
S3method(params,lm)
S3method(params,survfit)
