export(frmt)
export(frmtp)
export(count)
export(load_cache)
S3method(params, default)
S3method(params, coxph)
S3method(params, glm)
S3method(params, lm)
S3method(params, survfit)
export(qacf)
export(qroc)
export(qsurvplot)
export(simpleCap)
