S3method(params,coxph)
S3method(params,glm)
S3method(params,lm)
S3method(params,survfit)
S3method(print,regression_results)
S3method(print,tableone)
S3method(regression_results,coxph)
S3method(regression_results,lm)
S3method(regression_results,survfit)
export(frmt)
export(frmtp)
export(load_cache)
export(params)
export(params_frmtr)
export(qacf)
export(qroc)
export(qsurvplot)
export(simpleCap)
export(tableone)
export(trimWhite)
exportPattern("^[[:alpha:]]+")
